<a>
  <div style= 'padding-top: 8px; padding-bottom: 8px;'>
    <div class= 'article_img'>
      <img src= '/Users/cameronlees/Documents/Projects/Deurali Blog/deurali/assets/images/amsterdam.jpg' />
    </div>
    <div class= 'button' style= 'margin-left: 8px; margin-top: 12px; float: right;'>
      <h5>Read</h5>
    </div>
    <div style= 'width: auto; overflow: hidden;'>
      <h4>Violent Crime in American Cities: How Bad Is It?</h4>
    </div>
  </div>
</a>
