<a href= '{{url}}'>
  <div style= 'margin-top: 8px; margin-bottom: 8px;'>
    <div class= 'article_img'>
      <img src= '{{image}}' />
    </div>
    <div class= 'button' style= 'margin-left: 8px; margin-top: 12px; float: right;'>
      <h5>Read</h5>
    </div>
    <div style= 'width: auto; overflow: hidden;'>
      <h4>{{title}}</h4>
    </div>
  </div>
</a>
