<section class= 'row'>
  <div class= 'col-xs-12'>
    <div class= 'content content-width center-block'>
      <p><b>This is the place where I do my writing! Pretty cool, eh?</b></p>
      <p>I think it's <em>pretty</em> cool! I write some
      unintelligible nonsense, and people eat it up!
      That's my favorite thing about writing, honestly.
      It's the fact that people will just assume you're
      intelligent if you can put pen to paper, <a>so to
      speak</a>.</p>
      <p>Everyone should try it! Put on your
      pseudo-intellectual cap and see where it takes you!
      You may surprise yourself with how convincing you
      can be.</p>
      <img src= '/Users/cameronlees/Documents/Projects/Deurali Blog/deurali/assets/images/got.jpg' />
      <p>The only danger you might run into is offending
      people with your incredible pretensiousness. So
      make sure that you're smarter than the people that
      you write for, so that they never catch on to your
      act.</p>
      <p>Thank you for reading! After all, I do it all for
      attention, so you've done me a great favor.</p>
    </div>
  </div>
</section>
