<section class= 'row'>
  <div class= 'col-xs-12' style= 'padding: 8px;'>
    <div style= 'float: left;'>
      <div class= 'date'>
        <h6 class= 'vtext valign'>2016</h6>
        <div class= 'valign'>
          <h5 style= 'text-align: center;'>
            12<br>
            Dec
          </h5>
        </div>
      </div>
    </div>
    <div class= 'title'>
      <h1 style= 'width: 100%; margin-top: 4px; max-width: 664px; padding-right: 32px;'>The Tallest Mountains in the World are the Himalayas</h1>
      <div style= 'text-align: left;'>
          <div class= 'button' style= 'margin-bottom: 16px; margin-right: 8px; display: inline-block;'>
            <h5>Featured Article</h5>
          </div>
      </div>
    </div>
  </div>
</section>
