<section class= 'row'>
  <div class= 'col-xs-12' style= 'background-image: url("/Users/cameronlees/Documents/Projects/Deurali Blog/deurali/assets/images/tri_pattern.png"); background-repeat: repeat;'>
    <div style= 'text-align: center;'>
      <a>
        <img style= 'height: 24px; margin-top: 24px; margin-bottom: 24px;' src= '/Users/cameronlees/Documents/Projects/Deurali Blog/deurali/assets/images/deurali_white.svg' />
      </a>
    </div>
  </div>
</section>
