<section class= 'row'>
  <div class= 'col-xs-12'>
    <div class= 'center-block' style= 'height: 1px; background-image: radial-gradient(#ABABAB, #FFFFFF); width: 100%; max-width: 696px;'></div>
  </div>
  <div class= 'col-xs-12'>
    <div class= 'content-width center-block'>

      <div style= 'text-align: center;'>
        <a>
          <div class= 'button' style= 'margin-top: 32px; margin-bottom: 32px; display: inline-block;'>
            <h5>See All Articles</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
