<section class= 'row'>
  <div class= 'col-xs-12'>
    <div style= 'text-align: center;'>
      <a href= "{{@blog.url}}">
        <img style= 'height: 24px; margin-top: 12px; margin-bottom: 12px;' src= "{{@blog.logo}}" />
      </a>
    </div>
  </div>
</section>
