/*
1. Styleguide:

Fonts:
* Roboto 300
* Merriweather 400

Colors:

Background: #343434
Reds: #C74F4F, #AE4343, #DD7171
Blues: #4F77C7, #4367AE, #7195DE
Accent: #D5D5D5
Type: #000000
Hyperlinks: #4367AE
